<mat-toolbar color="primary">
  <span>
    <a routerLink="" mat-button>
      <mat-icon>local_movies</mat-icon>
      Movie Tracker
    </a>
  </span>

  <div>
    <a mat-button routerLink="movies/filter"
      ><mat-icon>search</mat-icon>Search Movies</a
    >
  </div>

  <app-authorize-view>
    <ng-container authorized>
      <div>
        <a mat-button routerLink="genres">Genres</a>
      </div>

      <div>
        <a mat-button routerLink="actors"> Actors </a>
      </div>

      <div>
        <a mat-button routerLink="movietheaters"> Movie Theaters </a>
      </div>

      <div>
        <a mat-button routerLink="movies/create"> Create Movie </a>
      </div>
    </ng-container>
  </app-authorize-view>

  <div class="space"></div>
</mat-toolbar>
